{{ define "main" }}
<div id="single-{{ .Title | urlize }}" class="single-container container mt-5">

  <!-- Page Navigation -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      Page Menu
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav">
        {{ range .Params.sections }}
        <li class="nav-item">
          <a class="nav-link" href="{{ if not .url }}#single-{{ .name | urlize }}{{ else }}{{ .url }}{{ end }}" {{ if .url }}target="_blank" rel="noopener noreferrer"{{ end }}>{{ .name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

  <!-- Page Sections -->
  {{ range .Params.sections }}
  {{ if not .url }}
  <div id="single-{{ .name | urlize }}" class="card mb-5">
    <div class="card-body">
      <h2 class="card-title">{{ .name }}</h2>
      <div class="row">
        {{ if or (eq .textPosition "left") (eq .textPosition "right") }}
        {{ if eq .textPosition "right" }}
        <div class="col-auto">
          {{ if .image }}
          <img class="img-fluid rounded mb-2" src="{{ .image | relURL }}" alt="{{ .name }}" style="width: {{ .imageWidth }}; height: {{ .imageHeight }};">
          {{ end }}
        </div>
        {{ end }}
        <div class="col">
          <p class="card-text" style="font-size: 1.2em;">{{ .text | markdownify | safeHTML }}</p>
          {{ if .list }}
          <div class="list-group">
            {{ range .list }}
            <a href="#" class="list-group-item list-group-item-action">{{ . | markdownify | safeHTML }}</a>
            {{ end }}
          </div>
          {{ end }}
        </div>
        {{ if eq .textPosition "left" }}
        <div class="col-auto">
          {{ if .image }}
          <img class="img-fluid rounded mb-2" src="{{ .image | relURL }}" alt="{{ .name }}" style="width: {{ .imageWidth }}; height: {{ .imageHeight }};">
          {{ end }}
        </div>
        {{ end }}
        {{ else }}
        {{ if .image }}
        <div class="col-md-12 text-center">
          <img class="img-fluid rounded mb-2" src="{{ .image | relURL }}" alt="{{ .name }}" style="width: {{ .imageWidth }}; height: {{ .imageHeight }};">
        </div>
        {{ end }}
        <div class="col-md-12">
          <p class="card-text" style="font-size: 1.2em;">{{ .text | markdownify | safeHTML }}</p>

          <!------------------------------------------------------------------------------------- -->
          <!-- handle lists in the single pages -->

          {{ if .list }}
          <ol class="list-group">
              {{ range .list }}
                  <!-- If the entry has a sublist -->
                  {{ if and (isset . "item") (isset . "sublist") }}
                      <li class="list-group-item">
                          <p>{{ .item }}</p>
                          <ol class="list-unstyled ml-4">
                              {{ range .sublist }}
                                  <li class="list-group-item bg-light">{{ . }}</li>
                              {{ end }}
                          </ol>
                      </li>
                  <!-- If the entry does not have a sublist but has an item -->
                  {{ else if isset . "item" }}
                      <li class="list-group-item">{{ .item }}</li>
                  <!-- If it's just a regular list entry without named 'item' field -->
                  {{ else }}
                      <li class="list-group-item">{{ . }}</li>
                  {{ end }}
              {{ end }}
          </ol>
          {{ end }}



          <!------------------------------------------------------------------------------------- -->    
          
          
      </div>
      {{ end }}
      </div>
      {{ if .videos }}
      {{ range .videos }}
          <!-- Video Title -->
          <div class="video-title">{{ .videoTitle }}</div>
  
          <div class="embed-responsive embed-responsive-16by9 my-4" style="max-width: 60%; margin: auto;">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .videoID }}" allowfullscreen></iframe>
          </div>
      {{ end }}
  {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}

  <!-- Back to Top Button -->
  <button id="backToTopBtn" class="btn btn-secondary" title="Back to Top"><i class="fas fa-arrow-up"></i></button>
</div>
{{ end }}


{{ define "scripts" }}
{{ $singleJs := resources.Get "js/single.js" }}
{{ $backToTopJs := resources.Get "js/backtotop.js" }} <!-- Get the backtotop.js resource -->
<script src="{{ $singleJs.Permalink }}"></script>
<script src="{{ $backToTopJs.Permalink }}"></script> <!-- Include the backtotop.js script -->
{{ end }}


